#sections-box {
	-o-transition:.5s;
  	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	cursor: pointer;
	float: left;
	margin-top: 10px;
	margin-left: -12px;
	height: 26px;
	width: 100px;
	z-index: -1;
	border-radius: 2px;
	border: 1px solid #d3d3d3;
	box-shadow: 0px 3px 2px #cecece;
	background: #FFF;
}

body {
	margin-right: 0;
}

#whole-page {
	overflow-x: hidden;
}

#header {
	margin-left: 20px;
	height: 50px;
	width: 100%;
	top: 0px;
	z-index: 1;
	position: fixed;
	text-align: center;
	background: #FFF;
	box-shadow: -2px -2px 6px #CCCCCC;
	border-bottom: 1px solid #d3d3d3;
}

#page {
	width: auto;
	height: auto;
	margin-top: 50px;
	/*background: #F0F0F0;*/
	margin-left: 20px;
	box-shadow: -2px -2px 6px #CCCCCC;
	
}

#article {
	padding: 8px 75px 0px 50px;
	height: auto;
	background: #FFF;
}

#article-head {
	width: auto; 
	height: auto;
}

#article-sub-head {
	width: auto;
	padding-top: 20px;
	/*padding-bottom: 5px;*/
	height: 35px;
	margin-bottom: 15px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}

#lead-photo-caption {
	color: #666;;
	max-width: 615px; 
	height: 55px; 
	padding-top: 8px;
	font-size: 14px;
	font-weight: 300;
	font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
}

/*#photo-credit {
	color: #999;
	display: inline;
	font-size: 11px;
	font-weight: 400;
}*/

.article-body {
	margin-top: 10px;
	width: 700px;
	/*background: #1e90ff;*/
	overflow: auto;
}

#article-first-portion {
	margin-top: 30px;
	height: auto;
	margin-bottom: 30px;
}

#article-second-portion {
	margin-top: 5px;
	height: 600px;
}

#article-third-portion {
	margin-bottom: 40px;
	margin-top: 20px;
	height: auto;
}

#article-last-portion {
	margin-top: 50px;
	/*margin-bottom: 25px;*/
	height: auto;
	
}

#comment-aside {
	position: absolute;
	top: 1760px;
	right: 6.5%; 
	height: 240px;
	width: 360px;
	/*background: #b7d84b;*/
	border-top: 1px solid #e2e2e2;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	color: #333;
	font-size: 13px;
}

#comment-aside:hover .comment-icon {
	background: #326891;
}

.main-header {
	display: block;
}

.comment-icon {
	transition: background-color 0.3s;
	display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 20px;
    height: 13px;
    background: #879cb4;
    border-radius: 1px;
    margin: -3px 8px 0 0;
}

.comment-icon:after {
    transition: border-color 0.3s;
    bottom: -4px;
    border-width: 4px 0 0 4px;
    content: '';
    position: absolute;
    left: 45%;
    border-style: solid;
    border-color: #879cb4 transparent;
}

#comment-aside header h2 {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #326891;
	line-height: 15px;
}

.comment header {
	display: inline-block;
	font-weight: 700;
	color: #000;
	margin-bottom: 2px;
}

.comment span {
	display: inline-block;
	margin-left: 5px;
	color: #999;
	font-size: 12px;
}

.comment {
	padding-bottom: 15px;
}

.comment p {
	color: #666;
	margin: 0px;
	line-height: 16px;
	font-weight: 300;
}

#comment-expand {
	border-top: 1px solid #e2e2e2;
	font-size: 10px;
	line-height: 22px;
	color: #326891;
	font-weight: 500;
	text-transform: uppercase;
}

#comment-expand:hover {
	text-decoration: underline;
}

/*Make comment-aside dissapear when screen gets too small */
@media screen and (max-width: 1150px) {
    #comment-aside { display:none; }
}

#article-aside {
	max-width: 945px;
	height: 576px; 
	margin-bottom: 10px;
	/*background: #f0fff0;*/
}

#youtube-video {
	width: 645px;
	/*height: 345px;*/
	height: auto;
	/*margin-bottom: 8px;*/
	/*background: #2e8b57;*/
}

#video-caption p {
	width: auto; 
	font-size: 13px;
	font-weight: 300;
	margin-top: 10px;
	font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
	color: #666;
	/*height: 20px;*/
	/*background: #fffafa;*/
}

.attribution {
	font-size: 11px;
	font-weight: 400;
	color: #999;
}

#secondary-photo {
	width: 675px; 
	height: 451px;
	margin-bottom: 10px;
	background: #f4a460
}

#secondary-photo-caption p {
	margin-top: 10px;
	font-size: 13px;
	font-weight: 300;
	font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
	color: #666;
}

#secondary-photo-caption {
	/*margin-top: 5px;*/
	width: 675px;
	height: auto;
	/*background: #87ceeb;*/
}

/*#article-note {
	width: 565px; 
	height: 30px;
	margin-left: 75px;
	background: #66cdaa;
}*/

#trending-vertical {
	border-top: 1px solid #e2e2e2;
	margin: 0px 4% 200px 3%;
	width: 30%; 
	height: 500px;
	float: right;
	z-index: 0;
	/*background: #4b0082;*/
}

#trending-vertical h2 {
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-size: 11px; 
	font-weight: 700;
	text-transform: uppercase;
}

#footer {
	margin: 0px 8% 0px 7.5%;
	height: 470px;
	width: auto;
	clear: both;
	background: #cd5c5c;
}

#right-nav {
	float: right;
	vertical-align: bottom;
	margin: 10px 33px 0px 0px; 
}

.blue-button {
	-o-transition:.5s;
  	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	margin-left: 3px;
	height: 30px;
    font-weight: 700;
    color: white;
    border: 1px solid #4d7b9f;
    background-color: #6288a5;
    border-radius: 3px;
    padding: 8px 9px 8px 9px;
    text-transform: uppercase;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    font-size: 8pt;
}

.blue-button:hover {
	background-color: #4d7b9f;
}

.unstyled-link {
	text-decoration: none;
	color: inherit;
}

#gear-icon {
	-o-transition:.5s;
  	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	cursor: pointer;
	border: 0;
	background: transparent;
	padding: 0;
	vertical-align: middle;
	margin-left: 8px;
	border-radius: 3px;
}

#gear-icon:hover {
	background-color: #f5f5f5;
}

#gear {
	padding: 4px;
}

#brand {
	display: inline-block;
	margin-top: 12px;
	margin-left: -90px;
}

#menu-icon {
	display: inline-block;
	margin-top: 4px;
	margin-right: 7px;
}

#section {
	display: inline-block;
	text-transform: uppercase;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  font-size: 8pt;
  font-weight: 700;
  color: #333;
}

#sections-box:hover {
	background-color: #f5f5f5;	
}

#left-nav {
	float: left;
}

#home {
	display: inline-block;
	cursor: pointer;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	height: 30px;
	margin: 8px 0px 8px 8px; 
	border-radius: 4px;
}

.home-button {
	display: inline-block;
	background: url('lib/nyt-icon.png') no-repeat left center;
	background-size: 20px 20px; 
	padding-left: 30px;
	padding-top: 4px;
	margin: 10px;
	font-weight: 700;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  font-size: 8pt;
}

#home:hover {
	background-color: #f5f5f5;
}

#search {
	display: inline-block;
	cursor: pointer;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	height: 30px;
	margin: 8px 8px 8px 0px; 
	border-radius: 4px;
}

.search-button {
	display: inline-block;
	background: url('lib/mag_glass.svg') no-repeat left center;
	background-size: 15px 15px; 
	padding-left: 25px;
	padding-top: 4px;
	margin: 10px;
	font-weight: 700;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  font-size: 8pt;
}

#search:hover {
	background-color: #f5f5f5;
}

#home:hover {
	background-color: #f5f5f5;
}

#trending {
	height: 85px;
	width: 1252px;
	background: #FFF;
	border-bottom: 1px solid #d3d3d3;
	margin-bottom: 5px;
	margin-top: -10px;
}

.horizontal-list {
	padding-left: 0px !important;
	margin: 0px !important; 
}

ol {
	counter-reset: trending-article-counter;
	list-style: none;
}

ol li {
	counter-increment: trending-article-counter;
	font-family: "nyt-cheltenham-extra-cn-bd",georgia,"times new roman",times,serif;
}

ol li:hover h2 {
	text-decoration: underline;
}

.horizontal-list li {
	margin: 3px 0px 5px;
	float: left;
	width: 19.4%;
	border-right: 1px solid #e2e2e2;
	padding-left: 5px;
}

ol li:before {
	content: counter(trending-article-counter)'.';
}

.horizontal-list li:before {
	vertical-align: top;
	display: inline-block;
	left: 7px;
	top: 5px;
	margin-right: 10px;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	color: black;
}

.trending-thumb {
	margin-top: 5px;
	vertical-align: top;
	display: inline-block;
}

.trending-title {
	font-weight: 300;
	width: 50%;
	margin: 8px 0px 8px 5px;
	text-align: left;
	display: inline-block;
	font-size: 13px;
	color: black;
}

#article-category {
	width: 120px;
	height: 40px;
}

#article-category a {
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-weight: 700;
  font-size: 0.8125rem;
  text-transform: uppercase;
	text-decoration: none;
	color: black;
}

#article-category a:hover {
	text-decoration: underline;
}

#article-title {
	height: auto;
	width: auto;
	margin-bottom: 10px;
}

#article-title h1 {
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
	font-size: 1.725rem;
	margin: 5px 0px;
	font-style: italic;
	font-weight: 700 !important;
	line-height: 2.375rem;
}

#author-date {
	float: left;
	/*padding: 10px 0px;*/
	/*height: 35px;*/
	width: 300px;
	font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
	color: #000;
	font-size: 11px;
}

#author-date span {
	display: inline-block;
	font-weight: 700;
}

#author {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 10px;
}

#author a {
	text-decoration: none;
	color: black;
}

#author a:hover { 
	text-decoration: underline;
}

#date {
	text-transform: uppercase;
	display: inline-block;
}

#social {
	float: right;
	width: 300px;
}

#social-buttons {
	display: inline-block;
}

#bookmakr-comment {
	display: inline-block;
}

.article-body p {
	margin: 0px 8% 10px 10%;
	font-size: 17px; 
	font-weight: 400;
	font-family: georgia,"times new roman",times,serif;
	line-height: 1.625rem;
}

.article-body p a {
	color: #326891;
}

.callout {
	font-weight: 700;
}

#aside-header {
	border-top: 1px solid #e2e2e2;
	max-width: 945px;
	height: auto;
	padding-top: 15px; 
	font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
}

#aside-header h2 {
	font-size: 1.1rem;
	margin-top: 0px;
	margin-bottom: 8px;
}

#aside-header p {
	font-weight: 400;
	color: #666;
	line-height: 1.125rem;
	font-size: 14px;
	margin-top: 0px;
}

.aside-box {
	position: absolute;
	width: 228px;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #000000;
}

.para-intro {
	font-size: 11px;
	font-weight: bold;
	letter-spacing: .05em;
}

#box1 {
	top: 2935px;
	left: 80px;
}

#box2 {
	top: 2935px;
	left: 320px;
}

#box3 {
	top: 2935px;
	left: 560px;
}

#box4 {
	top: 2935px;
	left: 800px;
}

#box5 {
	top: 3210px;
	left: 80px;
}

#box6 {
	top: 3210px;
	left: 320px;
}

#box7 {
	top: 3210px;
	left: 560px;
}

#box8 {
	top: 3210px;
	left: 800px;
}

#aside-footer {
	border-bottom: 1px solid #e2e2e2;
	max-width: 945px;
	height: auto;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;

}

#aside-footer p {
	font-size: 0.75rem;
	color: #999;
	font-weight: 300;
}

#article-footer {
	margin: 20px 8% 45px 10%;
}

#line-break {
	width: 60px;
	border-top: solid 1px #000; 
}

#article-footer p {
	margin: 15px 0px 10px 0px;
	font-size: 11px;
	line-height: 15px;
	font-weight: 300;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
    color: #999;
}

#article-footer p a {
	color: inherit;
	text-decoration: none;
}

#article-footer p a:hover {
	text-decoration: underline;
}

#more-recommended {
	/*border-top: 1px solid #e2e2e2;*/
	float: left;
	width: 56%;
	height: auto;
	margin: 0px 1% 10px 5%;
	z-index: -1;
	/*background: #1e90ff;*/
}

/*#more-in-category {
	border-top: 1px solid #e2e2e2;
	height: auto; 
	background: white;
}*/

#more-recommended h2 {
	
	margin-top: 3px;
	margin-bottom: 10px;
}

.list-heading {
	border-top: 1px solid #e2e2e2;
}

#more-recommended h2 a {
	line-height: 17px;
	color: black;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-size: 17px;
	text-decoration: none;
	font-weight: 700;
}

#more-recommended h2 a:hover {
	text-decoration: underline;
}

#more-recommended h2 span {
	padding-top: 8px;
	font-size: 11px;
	color: #326891;
	font-weight: 400;
	float: right;
}

#more-recommended h2 span:hover {
	text-decoration: underline;
}

/*#recommended {
	height: 200px;
	background: black;
}*/

.article-grid {
	/*display: inline-block;*/
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.article-grid li {
	text-align: -webkit-match-parent;
	width: 210px;
	margin-bottom: 20px;
	height: 218px;
	display: inline-block;
	vertical-align: top;
	/*margin-left: 31px;*/
	margin-left: 4.5%;
}

.article-grid li a {
	text-decoration: none;
	color: black;
}

/*.article-grid li:nth-child(3):after { 
	content:"\A"; white-space:pre; 
}*/

/*Make third and 6th article recommendations dissapear when screen gets too small */
@media screen and (max-width: 1190px) {
    .article-grid li:nth-child(3) { display:none; }
    .article-grid li:nth-child(6) { display:none; }
}

.article-grid li:nth-child(1) {
	margin-left: 0px;
}

.article-grid li:nth-child(4) {
	margin-left: 0px;
}

.article-grid li h2 {
	font-weight: 500;
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
	font-size: 16px;
}

.article-grid li h3 {
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	text-transform: uppercase;
	font-size: 11px;
	margin: 0px;
	font-weight: 700;
}










